Task: "Crime statistics"

1. Download the database concerning fatal police interventions in the USA, and then load it into a DataFrame object.

https://uploads.kodilla.com/bootcamp/pro-data-visualization/files/fatal-police-shootings-data.csv

2. Transform the table to show a summary of the number of intervention victims by race ('race') and whether they showed signs of mental illness ('signs_of_mental_illness').

3. Using Map, Applymap, or Apply, add a column to this summary indicating what percentage of intervention victims showed signs of mental illness for each race. Answer which race has the highest percentage of signs of mental illness during interventions.

4. Add a column indicating the day of the week on which the intervention occurred. Count the interventions by the corresponding day of the week. Then, create a column chart, ordering the days of the week from Monday to Sunday.

5. Load the data concerning the population in each US state and the data concerning the abbreviations of each state into the project. Combine these databases in such a way that you can count how many incidents in the fatal interventions database occurred per 1000 inhabitants of each state.

https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population
https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations

In [1]:
# import modules
import numpy as np
import pandas as pd

In [7]:
# task 1 - imoprting data to dataframe object
df = pd.read_csv('fatal-police-shootings-data.csv')
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [13]:
# task 2 - creating a summary
df.pivot_table(values='id',index='race',columns='signs_of_mental_illness', aggfunc=[len])

                          len
signs_of_mental_illness False True
race
A                          69    24
B                        1114   184
H                         745   157
N                          64    14
O                          37    11
W                        1763   713